<div class="container-fluid">
  <div class="row container-card">
    <div class="col-8">
      <div class="my-2">
        <button type="button" class="btn btn-success buttom-create" routerLink="create">Crear</button>
      </div>
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Valor</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>2500</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary">Ver</button>
                    <button type="button" class="btn btn-outline-primary">Eliminar</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
